# Core app
streamlit
streamlit-option-menu
python-dotenv

# LangChain ecosystem
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface

# Vector store (FAISS)
faiss-cpu
# FAISS is used via langchain-community; the CPU version is enough unless using GPU

# Embeddings & Transformers
sentence-transformers
transformers

# PDF + DOCX document processing
PyMuPDF           # for PDF (used by PyPDFLoader)
python-docx       # for Word output
pypdf


# Optional: Torch for sentence-transformers backend
torch
